@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --cor-titulo: #4d4d4d;
  --cor-texto: #333;
  --cor-escura: #000;
  --cor-clara: #fff;
  --cor-internediaria: #ececec;
}

/* lembrete da medida "font-size" */
html {
  font-size: 16px;
}

h1 a {
  background-color: var(--cor-escura);
  border-radius: 8px;
  padding: 0.3rem 1rem;
  color: var(--cor-clara);
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
}

a {
  text-decoration: none;

}

header {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5rem;
}

body {
  color: var(--cor-texto);
  font-family: "Noto Sans", sans-serif;
  background-color: var(--cor-clara);
}

body,
h1,
h2,
p,
figure,
nav ul {

  margin: 0;
  padding: 0;

}

/* imagens responsiva */
img {
  max-width: 100%;

}

nav h2 a {

  color: var(--cor-escura);
  font-size: 1.2rem;
  /* background-color: aquamarine; */
  padding: 1rem;
  display: inline-block;
}

nav h2 a:hover,
nav h2 a:focus,
.lista-menu a:hover {
  background-color: var(--cor-internediaria);

}

/* estilos da lista dentro do nav */
.lista-menu {
  list-style: none;
  /* js futuramente sera implementado*/
  display: none;
}

/* estilo para os links dentro do nav */
.lista-menu a {
  color: var(--cor-escura);
  font-weight: bold;
  display: flex;
  height: 50px;
  /* background-color: aquamarine; */
  justify-content: center;
  align-items: center;
}

/* regra que sera aplicada somente quando o menu for acionado para aberto */
.lista-menu.aberto {
  /* ativando o flex fazemos com que os links voltem a aparecer. */
  display: flex;
  /* fazemos com que eles fiquem um em cima do outro (flex colum) */


  /* ativamos position absolute e ajustamos a posição final dos links usando proriedades de coordenadas. */
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--cor-clara);
}


/* exercicios
1) Crie uma regra CSS para formatar o destaque com as seguintes configurações:
-altura de 500px
-imagem de fundo 
-imagem de fundo deve ficar parada
-flexbox com alinhamento totalmente centralizado, e um elemento em cima do outro (ou seja, use o modo coluna)
2) crie uma regra para formatar o h2 e o p contidos em destaque. Faça com que os textos fiquem centralizados (text-align) e com cor clara. */


.destaque {
  height: 88vh;
  background-image: url('../imagens/fundo-destaque.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*O cover define especificamente a imagem para cobrir todo o elemento ao qual é aplicado.*/
  /* background-size: cover; */
}

.destaque h2,
.destaque p {
  color: var(--cor-clara);
  text-align: center;

  /* aplicando a animação */

  animation-name: animadestaque;
  animation-duration: 1s;
  /* aceleração/desaceleração */
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

/* sobre a função clamp() função util para redimensionamento responsivo de acordo com certos critérios

clamp(tamanhoMinimo,tamanhoIdeal/variavel,tamanhoMaximo);
*/
.destaque h2 {
  font-size: clamp(3rem, 10vw, 7rem);
}

.destaque p {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

/* regras de animações */
@keyframes animadestaque {

  /* from (estado inicial) */
  from {
    opacity: 0;
    transform: translateY(-350px);

  }

  /* to (estado final) */
  to {
    opacity: 1;

  }
}

article h2 {

  padding: 1rem;
  font-size: 1.4rem;
  font-family:raleway,sans-serif;
  color: var(--cor-titulo);
}
.front-end,.historia,.localizacao{
  text-align: center;
}
article p {
  /* padding para cima e para a esquerda */
  padding: 0.5rem 0;
font-size: 1.2rem;
}
address{
  font-style: normal;
  padding: 1rem;
  font-size: 1.2rem;
}
footer{
  text-align: center;
  font-size: 1.5rem;
}
