* {
    box-sizing: border-box;
}

h1 a {
    background-color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 1.5%;
    color: white;
    text-transform: uppercase;
}
#menu{
    position: absolute;
    right: 40px;
    top: 0;
}

#menu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    transition: all 0.2s ease-in-out;
  }
  
  #menu-items.show {
    display: block;
  }
  
  #menu-btn {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #menu-btn:focus {
    outline: none;
  }
  
  #menu-btn:after {
    content: "☰";
    font-size: 20px;
  }
  
  #menu-btn.close:after {
    content: "×";
  }