@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

:root{
  --cor-titulo: #4d4d4d;
  --cor-texto: #333;
  --cor-escura:#000;
  --cor-clara:#fff;
  --cor-internediaria: #ececec;
}
/* lembrete da medida "font-size" */
html{
  font-size: 16px;
}

h1 a {
    background-color:var(--cor-escura);
    border-radius: 8px;
    padding: 0.8%;
    color:var(--cor-clara);
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}
body{
  color: var(--cor-texto);
  font-family: "Noto Sans", sans-serif;
  background-color: var(--cor-clara);
}
body,h1,h2,p,figure,nav ul{

  margin:0;
  padding:0;
  
}
/* imagens responsiva */
img{ max-width: 100%;

}
a{
  text-decoration: none;
}

#menu{
    position: absolute;
    right: 40px;
    top: 0;
}

#menu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    transition: all 0.2s ease-in-out;
  }
  
  #menu-items.show {
    display: block;
  }
  
  #menu-btn {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #menu-btn:focus {
    outline: none;
  }
  
  #menu-btn:after {
    content: "☰";
    font-size: 20px;
  }
  
  #menu-btn.close:after {
    content: "×";
  }